.chat-page {
  width: 1728px;
  height: 1117px;
  background-color: #f2ede7;
}

.chat-page .overlap {
  position: relative;
  height: 1117px;
}

.chat-page .overlap-group {
  position: absolute;
  width: 1728px;
  height: 1117px;
  top: 0;
  left: 0;
}

.chat-page .div {
  position: absolute;
  width: 324px;
  height: 1117px;
  top: 0;
  left: 0;
}

.chat-page .group {
  position: absolute;
  width: 322px;
  height: 1117px;
  top: 0;
  left: 0;
  background-color: #1d1d1b;
}

.chat-page .rectangle {
  position: absolute;
  width: 322px;
  height: 127px;
  top: 990px;
  left: 0;
  background-color: #1d1d1b;
  border: 1px solid;
  border-color: #000000;
}

.chat-page .rectangle-2 {
  position: absolute;
  width: 322px;
  height: 111px;
  top: 0;
  left: 0;
  background-color: #1d1d1b;
  border: 1px solid;
  border-color: #000000;
}

.chat-page .overlap-group-wrapper {
  position: absolute;
  width: 177px;
  height: 34px;
  top: 1050px;
  left: 88px;
}

.chat-page .div-wrapper {
  position: relative;
  width: 175px;
  height: 34px;
  background-color: #f2ede7;
}

.chat-page .text-wrapper {
  position: absolute;
  width: 78px;
  height: 17px;
  top: 9px;
  left: 49px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.chat-page .icon-cog {
  position: absolute;
  width: 29px;
  height: 30px;
  top: 1052px;
  left: 275px;
}

.chat-page .icon-user-circle-wrapper {
  position: absolute;
  width: 66px;
  height: 68px;
  top: 1016px;
  left: 14px;
  background-color: #f2ede7;
}

.chat-page .icon-user-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 4px;
  left: 3px;
}

.chat-page .new-chat-button {
  position: absolute;
  width: 178px;
  height: 54px;
  top: 25px;
  left: 72px;
}

.chat-page .overlap-2 {
  position: relative;
  width: 176px;
  height: 54px;
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid;
  border-color: #da9b3c;
}

.chat-page .text-wrapper-2 {
  position: absolute;
  width: 126px;
  height: 29px;
  top: 11px;
  left: 36px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #f2ede7;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.chat-page .icon-plus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 12px;
  left: 11px;
}

.chat-page .overlap-wrapper {
  position: absolute;
  width: 324px;
  height: 57px;
  top: 275px;
  left: 0;
}

.chat-page .overlap-3 {
  position: relative;
  width: 322px;
  height: 57px;
  background-color: #f2ede7;
}

.chat-page .delete {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 254px;
}

.chat-page .overlap-group-2 {
  position: absolute;
  width: 224px;
  height: 34px;
  top: 11px;
  left: 25px;
}

.chat-page .icon-alternate {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 204px;
}

.chat-page .text-wrapper-3 {
  position: absolute;
  width: 218px;
  height: 34px;
  top: 0;
  left: 0;
  font-family: "Noto Serif", Helvetica;
  font-weight: 400;
  color: #1d1d1b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.chat-page .group-2 {
  position: absolute;
  width: 252px;
  height: 34px;
  top: 217px;
  left: 25px;
}

.chat-page .img {
  top: 5px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 230px;
}

.chat-page .overlap-4 {
  position: absolute;
  width: 223px;
  height: 34px;
  top: 0;
  left: 0;
}

.chat-page .icon-alternate-2 {
  top: 5px;
  left: 203px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.chat-page .text-wrapper-4 {
  position: absolute;
  width: 218px;
  height: 34px;
  top: 0;
  left: 0;
  font-family: "Noto Serif", Helvetica;
  font-weight: 400;
  color: #f2ede7;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.chat-page .group-3 {
  position: absolute;
  width: 252px;
  height: 34px;
  top: 148px;
  left: 24px;
}

.chat-page .delete-2 {
  top: 6px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 230px;
}

.chat-page .overlap-5 {
  position: absolute;
  width: 224px;
  height: 34px;
  top: 0;
  left: 0;
}

.chat-page .icon-alternate-3 {
  top: 6px;
  left: 204px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.chat-page .overlap-6 {
  position: absolute;
  width: 1406px;
  height: 111px;
  top: 0;
  left: 322px;
}

.chat-page .crystal-ball {
  position: absolute;
  width: 42px;
  height: 51px;
  top: 27px;
  left: 56px;
}

.chat-page .rectangle-3 {
  position: absolute;
  width: 1406px;
  height: 111px;
  top: 0;
  left: 0;
  background-color: #1d1d1b;
}

.chat-page .good-fortune-logo {
  position: absolute;
  width: 339px;
  height: 70px;
  top: 20px;
  left: 56px;
}

.chat-page .overlap-7 {
  position: absolute;
  width: 42px;
  height: 51px;
  top: 14px;
  left: 0;
}

.chat-page .ellipse {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1px;
  left: 1px;
  background-color: #f2ede7;
  border-radius: 20.19px/20.04px;
}

.chat-page .group-4 {
  position: absolute;
  width: 37px;
  height: 12px;
  top: 38px;
  left: 2px;
}

.chat-page .rectangle-4 {
  position: absolute;
  width: 31px;
  height: 7px;
  top: 0;
  left: 3px;
  background-color: #da9b3c;
}

.chat-page .rectangle-5 {
  position: absolute;
  width: 37px;
  height: 5px;
  top: 7px;
  left: 0;
  background-color: #da9b3c;
}

.chat-page .vector {
  position: absolute;
  width: 42px;
  height: 51px;
  top: 0;
  left: 0;
}

.chat-page .overlap-group-3 {
  position: relative;
  height: 51px;
}

.chat-page .star {
  position: absolute;
  width: 8px;
  height: 9px;
  top: 10px;
  left: 8px;
}

.chat-page .star-2 {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 28px;
  left: 12px;
}

.chat-page .star-3 {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 14px;
  left: 24px;
}

.chat-page .vector-2 {
  position: absolute;
  width: 16px;
  height: 26px;
  top: 6px;
  left: 16px;
}

.chat-page .vector-3 {
  position: absolute;
  width: 28px;
  height: 27px;
  top: 9px;
  left: 7px;
}

.chat-page .group-5 {
  position: absolute;
  width: 286px;
  height: 70px;
  top: 0;
  left: 55px;
}

.chat-page .text-wrapper-5 {
  position: absolute;
  width: 284px;
  height: 70px;
  top: 0;
  left: 0;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.chat-page .icon-alternate-share {
  position: absolute;
  width: 35px;
  height: 40px;
  top: 34px;
  left: 1325px;
}

.chat-page .group-6 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 33px;
  left: 1283px;
}

.chat-page .group-7 {
  position: absolute;
  width: 1088px;
  height: 83px;
  top: 990px;
  left: 471px;
}

.chat-page .overlap-8 {
  position: relative;
  width: 1086px;
  height: 83px;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 1px solid;
  border-color: #1d1d1b;
}

.chat-page .icon-paper-plane {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 17px;
  left: 1016px;
}

.chat-page .text-wrapper-6 {
  position: absolute;
  width: 813px;
  top: 25px;
  left: 42px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #1d1d1b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 31px;
}

.chat-page .group-8 {
  position: absolute;
  width: 646px;
  height: 117px;
  top: 685px;
  left: 347px;
}

.chat-page .group-9 {
  position: absolute;
  width: 106px;
  height: 88px;
  top: 29px;
  left: 0;
}

.chat-page .icon-bookmark {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 0;
  left: 616px;
}

.chat-page .content {
  display: flex;
  width: 470px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 40px;
  left: 124px;
  background-color: #1d1d1b;
  border-radius: 15px;
}

.chat-page .text-wrapper-7 {
  position: relative;
  width: 283px;
  height: 35px;
  margin-top: -1px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.chat-page .sharktooth {
  position: absolute;
  width: 12px;
  height: 20px;
  top: 14px;
  left: -11px;
}

.chat-page .group-10 {
  position: absolute;
  width: 358px;
  height: 80px;
  top: 291px;
  left: 1327px;
}

.chat-page .icon-user-circle-2 {
  left: 278px;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
}

.chat-page .content-2 {
  display: flex;
  width: 244px;
  height: 64px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px 0px;
  position: absolute;
  top: 16px;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid;
  border-color: #000000;
  transform: rotate(180deg);
}

.chat-page .text-wrapper-8 {
  position: relative;
  width: 218px;
  height: 42px;
  margin-top: -11px;
  margin-right: -6px;
  transform: rotate(180deg);
  font-family: "Noto Serif", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 31px;
}

.chat-page .sharktooth-2 {
  position: absolute;
  width: 12px;
  height: 20px;
  top: 30px;
  left: -11px;
  transform: rotate(-180deg);
}

.chat-page .group-11 {
  position: absolute;
  width: 646px;
  height: 97px;
  top: 551px;
  left: 1041px;
}

.chat-page .icon-user-circle-3 {
  left: 564px;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
}

.chat-page .overlap-9 {
  position: absolute;
  width: 525px;
  height: 81px;
  top: 16px;
  left: 0;
}

.chat-page .content-3 {
  position: absolute;
  width: 525px;
  height: 64px;
  top: 0;
  left: 0;
}

.chat-page .p {
  position: absolute;
  width: 473px;
  top: 15px;
  left: 16px;
  font-family: "Noto Serif", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 31px;
}

.chat-page .group-12 {
  position: absolute;
  width: 501px;
  height: 88px;
  top: 154px;
  left: 347px;
}

.chat-page .group-13 {
  position: absolute;
  width: 106px;
  height: 88px;
  top: 0;
  left: 0;
}

.chat-page .content-4 {
  display: flex;
  width: 385px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 15px;
  left: 116px;
  background-color: #1d1d1b;
  border-radius: 15px;
}

.chat-page .text-wrapper-9 {
  position: relative;
  width: 446px;
  height: 35px;
  margin-top: -1px;
  margin-right: -93px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.chat-page .group-14 {
  position: absolute;
  width: 786px;
  height: 97px;
  top: 385px;
  left: 347px;
}

.chat-page .content-5 {
  display: flex;
  width: 670px;
  height: 82px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 15px;
  left: 116px;
  background-color: #1d1d1b;
  border-radius: 15px;
}

.chat-page .text-wrapper-10 {
  position: relative;
  width: 645px;
  height: 39px;
  margin-top: -1px;
  margin-right: -7px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 31px;
}
