.request-page{
  position: relative;
  width: 1728px;
  height: 1117px;
  background-color: #f2ede7;
}

.request-page .overlap {
  position: absolute;
  width: 1406px;
  height: 111px;
  top: 0;
  left: 322px;
  background-color: #1d1d1b;
  border: 1px solid;
  border-color: #000000;
}

.request-page .good-fortune-logo {
  position: absolute;
  width: 339px;
  height: 70px;
  top: 20px;
  left: 53px;
}

.request-page .overlap-group {
  position: absolute;
  width: 42px;
  height: 51px;
  top: 14px;
  left: 0;
}

.request-page .ellipse {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1px;
  left: 1px;
  background-color: #f2ede7;
  border-radius: 20.19px/20.04px;
}

.request-page .group {
  position: absolute;
  width: 37px;
  height: 12px;
  top: 38px;
  left: 2px;
}

.request-page .rectangle {
  position: absolute;
  width: 31px;
  height: 7px;
  top: 0;
  left: 3px;
  background-color: #da9b3c;
}

.request-page .div {
  position: absolute;
  width: 37px;
  height: 5px;
  top: 7px;
  left: 0;
  background-color: #da9b3c;
}

.request-page .vector {
  position: absolute;
  width: 42px;
  height: 51px;
  top: 0;
  left: 0;
}

.request-page .overlap-group-2 {
  position: relative;
  height: 51px;
}

.request-page .star {
  position: absolute;
  width: 8px;
  height: 9px;
  top: 10px;
  left: 8px;
}

.request-page .img {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 28px;
  left: 12px;
}

.request-page .star-2 {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 14px;
  left: 24px;
}

.request-page .vector-2 {
  position: absolute;
  width: 16px;
  height: 26px;
  top: 6px;
  left: 16px;
}

.request-page .vector-3 {
  position: absolute;
  width: 28px;
  height: 27px;
  top: 9px;
  left: 7px;
}

.request-page .div-wrapper {
  position: absolute;
  width: 286px;
  height: 70px;
  top: 0;
  left: 55px;
}

.request-page .text-wrapper {
  position: absolute;
  width: 284px;
  height: 70px;
  top: 0;
  left: 0;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.request-page .bookmark-button {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 33px;
  left: 1283px;
}

.request-page .icon-alternate-share {
  position: absolute;
  width: 35px;
  height: 40px;
  top: 33px;
  left: 1325px;
}

.request-page .overlap-2 {
  position: absolute;
  width: 322px;
  height: 1117px;
  top: 0;
  left: 0;
}

.request-page .group-2 {
  position: absolute;
  width: 322px;
  height: 1117px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-1.svg);
  background-size: 100% 100%;
}

.request-page .rectangle-2 {
  position: absolute;
  width: 322px;
  height: 111px;
  top: 0;
  left: 0;
  background-color: #1d1d1b;
  border: 1px solid;
  border-color: #000000;
}

.request-page .rectangle-3 {
  position: absolute;
  width: 322px;
  height: 127px;
  top: 990px;
  left: 0;
  background-color: #1d1d1b;
  border: 1px solid;
  border-color: #000000;
}

.request-page .icon-cog {
  position: absolute;
  width: 29px;
  height: 30px;
  top: 1053px;
  left: 277px;
}

.request-page .icon-user-circle-wrapper {
  position: absolute;
  width: 66px;
  height: 68px;
  top: 1016px;
  left: 14px;
  background-color: #f2ede7;
}

.request-page .icon-user-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 4px;
  left: 3px;
}

.request-page .overlap-wrapper {
  position: absolute;
  width: 177px;
  height: 34px;
  top: 1050px;
  left: 88px;
}

.request-page .overlap-3 {
  position: relative;
  width: 175px;
  height: 34px;
  background-color: #f2ede7;
}

.request-page .text-wrapper-2 {
  position: absolute;
  width: 78px;
  height: 17px;
  top: 9px;
  left: 44px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.request-page .new-chat-button {
  position: absolute;
  width: 178px;
  height: 54px;
  top: 28px;
  left: 65px;
}

.request-page .overlap-4 {
  position: relative;
  width: 176px;
  height: 54px;
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid;
  border-color: #da9b3c;
}

.request-page .text-wrapper-3 {
  position: absolute;
  width: 126px;
  height: 29px;
  top: 11px;
  left: 39px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #f2ede7;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.request-page .icon-plus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 12px;
  left: 14px;
}

.request-page .fortune-request {
  position: absolute;
  width: 252px;
  height: 34px;
  top: 158px;
  left: 27px;
}

.request-page .overlap-5 {
  position: absolute;
  width: 224px;
  height: 34px;
  top: 0;
  left: 0;
}

.request-page .text-wrapper-4 {
  position: absolute;
  width: 218px;
  height: 34px;
  top: 0;
  left: 0;
  font-family: "Noto Serif", Helvetica;
  font-weight: 400;
  color: #f2ede7;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.request-page .icon-alternate {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 204px;
}

.request-page .delete {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 230px;
}

.request-page .group-3 {
  position: absolute;
  width: 252px;
  height: 34px;
  top: 227px;
  left: 28px;
}

.request-page .overlap-6 {
  position: absolute;
  width: 223px;
  height: 34px;
  top: 0;
  left: 0;
}

.request-page .icon-alternate-2 {
  left: 203px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
}

.request-page .group-4 {
  position: absolute;
  width: 252px;
  height: 34px;
  top: 296px;
  left: 28px;
}

.request-page .icon-alternate-3 {
  left: 204px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
}

.request-page .proverb-filter {
  position: absolute;
  width: 196px;
  height: 92px;
  top: 751px;
  left: 1146px;
}

.request-page .overlap-group-3 {
  position: relative;
  width: 194px;
  height: 92px;
  background-color: #da9b3c;
  border-radius: 10px;
  border: 3px solid;
  border-color: #000000;
}

.request-page .text-wrapper-5 {
  position: absolute;
  width: 124px;
  top: 40px;
  left: 32px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #1d1d1b;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
}

.request-page .icon-scroll {
  position: absolute;
  width: 38px;
  height: 30px;
  top: 7px;
  left: 75px;
}

.request-page .affirmation-filter {
  position: absolute;
  width: 196px;
  height: 92px;
  top: 751px;
  left: 928px;
}

.request-page .overlap-7 {
  position: relative;
  width: 194px;
  height: 92px;
  background-color: #1d1d1b;
  border-radius: 10px;
  border: 3px solid;
  border-color: #000000;
}

.request-page .text-wrapper-6 {
  position: absolute;
  top: 43px;
  left: 27px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #f2ede7;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.request-page .icon-dove {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 83px;
}

.request-page .philosophy-filter {
  position: absolute;
  width: 196px;
  height: 92px;
  top: 751px;
  left: 710px;
}

.request-page .text-wrapper-7 {
  position: absolute;
  width: 140px;
  top: 44px;
  left: 24px;
  font-family: "Gabriela", Helvetica;
  font-weight: 400;
  color: #f2ede7;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
}

.request-page .icon-brain {
  position: absolute;
  width: 30px;
  height: 27px;
  top: 12px;
  left: 79px;
}

.request-page .make-a-wish-text {
  position: absolute;
  width: 220px;
  height: 41px;
  top: 658px;
  left: 910px;
}

.request-page .overlap-8 {
  position: relative;
  width: 218px;
  height: 41px;
}

.request-page .icon-hand-sparkles {
  position: absolute;
  width: 38px;
  height: 30px;
  top: 4px;
  left: 180px;
}

.request-page .text-wrapper-8 {
  position: absolute;
  width: 190px;
  height: 41px;
  top: 0;
  left: 0;
  font-family: "Noto Serif", Helvetica;
  font-weight: 900;
  color: #1d1d1b;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.6px;
  line-height: normal;
}

.request-page .scroll-message {
  position: absolute;
  width: 762px;
  height: 357px;
  top: 274px;
  left: 644px;
  background-image: url(./img/group-20.png);
  background-size: 100% 100%;
}

.request-page .unlock-your-self-wrapper {
  position: relative;
  width: 626px;
  height: 207px;
  top: 100px;
  left: 35px;
}

.request-page .unlock-your-self {
  position: absolute;
  width: 624px;
  height: 207px;
  top: 0;
  left: 0;
  font-family: "Tapestry", Helvetica;
  font-weight: 400;
  color: #1d1d1b;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
