* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabriela', serif;
    font-family: 'Noto Serif', serif;
    /* cursor: url('../materials/favicon-f.svg'),auto; */
    user-select: none;
}

div.container{
    max-width: 100%;
    max-height: 100%;
    margin:0;
    padding:0;
    div.pic-container{
        img.sign-out-background{
            z-index: 0;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            
        }
        button.back{
            position: absolute;
            z-index: 5;
            margin: 46.8rem 10rem 10rem 40rem;
            padding: 0.4rem 1rem 0.4rem 1rem;
            text-decoration: none;
            font-family: 'Noto Serif', serif;
        }
    }
}